.fighters-grid{
  background-color: #ccc;
  border: 1 px solid #858585;
  border-radius: 5px;
  max-width: 45%;
  min-height: 500px;
}
.App{
  display: block;
  justify-content: center;
  align-items: center ;
}